//======variables de palette de couleures pour le theme======\\

//-----------------couleurs du background body

$couleur__background--body : rgb(232, 182, 248);

//---------------- couleurs des background titres

$couleur__background--h1: rgb(193, 46, 193);
$couleur__background--h2h3h4: rgb(141, 141, 250);
$couleur__background--h5h6: rgb(141, 141, 250);

//---------------- couleurs des titres
$couleur__h1: rgb(95, 180, 122);
$couleur__h2h3: rgb(95, 180, 122);
$couleur__h4h5: rgb(95, 180, 122);




//---------------- couleur des liens

$couleur__link: #ffff;
$couleur__link--visited: indigo;
$couleur__link--hover: orange;

//--------------- couleur des buttons

$color__border--button: rgb(19, 19, 109);
$color__background--button:  rgb(66, 66, 110);
$color__border-button--hover: rgb(19, 19, 109);
$color__border-button--focus:  rgb(103, 103, 116);

//------------- couleurs fields (inputs)

$color__text--input: rgb(242, 242, 242);
$color__border--input: rgb(66, 66, 110);
$color__text-input--focus: rgb(19, 19, 109);

//------------- couleurs hr (ligne horizontale)

$color__background--hr: grey;


//--------------- couleurs simple

$couleur__background--code: rgb(141, 141, 250);
$couleur__background--pre:   rgb(64, 64, 253);
$couleur__background--span:  rgb(33, 33, 255);

$color__border--abbr: rgb(33, 33, 255);
$color__background--ins:rgb(255, 125, 33);