$couleur__background--body : rgb(232, 182, 248);

//---------------- couleurs des background titres

$couleur__background--h1: rgb(193, 46, 193);
$couleur__background--h2h3h4: rgb(141, 141, 250);
$couleur__background--h5h6: rgb(141, 141, 250);

//---------------- couleurs des titres
$couleur__h1: rgb(95, 180, 122);
$couleur__h2h3: rgb(95, 180, 122);
$couleur__h4h5: rgb(95, 180, 122);

$couleur__background--code: rgb(141, 141, 250);


//---------------- couleur des liens

$couleur__link: #ffff;
$couleur__link--visited: indigo;
$couleur__link--hover: orange;


