
$police__main : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$police__titre-principal : 'Arial', Helvetica, sans-serif;

$police__titre-secondaire : 'Georgia', 'Times New Roman', Times, serif;







