

$police__main : 'Garamond', serif;

$police__titre-principal : 'Garamond', serif;

$police__titre-secondaire : 'Garamond', serif;


//----------------------  palette de couleurs police 

$police__couleur--base: white;
$police__couleur--h1: rgb(99, 79, 105);


//-------------------- font simple


$font__pre: 'Courier New', Courier, monospace;
$font__line-height--pre: .8em;
$font__code: 'Courier New', Courier, monospace;