

$police__main : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$police__titre-principal : 'Arial', Helvetica, sans-serif;

$police__titre-secondaire : 'Georgia', 'Times New Roman', Times, serif;


//----------------------  palette de couleurs police 

$police__couleur--base: white;
$police__couleur--h1: rgb(99, 79, 105);





