footer.site__footer{
    height: auto;
    background: grey;
    display: flex;
    justify-content: space-around;
}

.menu-fromage-container{
    display: flex;

}

.menu-fromage-container>ul{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0;
    justify-content: center;
    
}
.widget-title{
    text-transform: uppercase;

}

footer>img{
    object-fit: contain;
}

div#sidebar-footer-4{
    margin-top: 50%;
}

// .site_footer>div{
//     padding: 10px;
// }

// .site_footer>img{

// }