.liste{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.liste__cours{
    width: 30%;
    padding: 10px;
    background-color: rgb(148, 112, 206);
    margin: 10px;
    flex-grow: 1;
}

.liste__cours >h2{

    // background-color: pink;
    text-transform: uppercase;

}

.liste__cours >p{

    padding: 10px;
    background-color: white;
    color: black;
}

