.liste{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}


.search-info>p{

    color: white;
    padding: 40px;
    // background-color: rgba(255, 255, 255, 0.301);

}

.search-info>h2{

    color: white;
    padding: 40px;
    // background-color: rgba(255, 255, 255, 0.301);

}

.liste__search{
    color: white;
    width: 100%;
    padding: 40px;
    height: auto;
    gap: 60px;
    // background-color: rgba(255, 255, 255, 0.301);
    
}
