.menu__primaire{ //nav

    background-color: rgb(74, 142, 95);

    .menu{ //ul

        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: rgb(74, 142, 95);
        color: white;

    }
    .menu-item{ //li 

        padding: 10px;
        background-color: rgb(74, 142, 95);
        color: white;

    }
    
    a{
        text-decoration: none;
        color:white;
        text-transform: uppercase;
    }
    a:hover{
        text-decoration: underline;

    }
};  //fin .menu__primaire

// .menu-primaire-container{}
// .menu-primaire-container .menu{}
// .menu-primaire-container .menu-item{}
// .menu-primaire-container a{}