.menu__evenement{}

.menu__evenement .menu{ //ul
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 1px solid pink; 
}

.menu__evenement .menu-item{//li
    list-style-type: none;
    width: 25%;
    padding: 10px;
}

.menu__porte:hover{
    background-color: grey;
}

.menu__stage:hover{
    background-color: grey;

}

.menu__projet:hover{
    background-color: grey;
    color: black;
}

.menu__item__icone{};
