.menu__primaire{ //nav

    background-color: rgb(74, 142, 95);

    .menu{ //ul

        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: rgb(56, 56, 56);
        color: white;

    }
    .menu-item li{ //li 

        // padding: 20px;
        gap: 10px;
        background-color: rgb(74, 142, 95);
        color: white;
        display: flex;
        justify-content: center;


    }
    
    a{
        padding: 10px;
        gap: 10px;
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        justify-self: center;
    }
    a:hover{
        text-decoration: underline;
        color: black;

    }
};  //fin .menu__primaire

// .menu-primaire-container{}
// .menu-primaire-container .menu{}
// .menu-primaire-container .menu-item{}
// .menu-primaire-container a{}