body{
    background-color: $couleur__background--body;
    font-size: .5rem;
}


main{
    font-family: $police__main;
    color: black;
}

h1{
    color: $police__couleur--h1;


    a{
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}


.trace{
    background-color: rgba(2, 128, 2, 0.307);
    color: white;
}

